{"garbage":{"papier":"","rest":""},"today":{"dayofweek":"Freitag","day":"8","month":"Mai","year":"2020"},"calendar":{"first":5,"days":31},"windows":{"sensors":[{"id":"2","open":false,"location":"eg"},{"id":"5","open":false,"location":"eg"},{"id":"10","open":false,"location":"eg"},{"id":"16","open":true,"location":"og"},{"id":"17","open":false,"location":"og"}],"eg":false,"og":true},"weather":{"current":{"temperature":"24.2°C"},"morning":{"temperature":"17.8°C"},"afternoon":{"temperature":"23.1°C"},"evening":{"temperature":"19.3°C"},"night":{"temperature":"11.4°C"}}}